<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wait_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,800}</string>
                <key>spriteSourceSize</key>
                <string>{600,800}</string>
                <key>textureRect</key>
                <string>{{0,0},{600,800}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wait_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,800}</string>
                <key>spriteSourceSize</key>
                <string>{600,800}</string>
                <key>textureRect</key>
                <string>{{600,0},{600,800}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wait_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,800}</string>
                <key>spriteSourceSize</key>
                <string>{600,800}</string>
                <key>textureRect</key>
                <string>{{1200,0},{600,800}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wait_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,800}</string>
                <key>spriteSourceSize</key>
                <string>{600,800}</string>
                <key>textureRect</key>
                <string>{{0,800},{600,800}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wait_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,800}</string>
                <key>spriteSourceSize</key>
                <string>{600,800}</string>
                <key>textureRect</key>
                <string>{{600,800},{600,800}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wait_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,800}</string>
                <key>spriteSourceSize</key>
                <string>{600,800}</string>
                <key>textureRect</key>
                <string>{{1200,800},{600,800}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wait_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,800}</string>
                <key>spriteSourceSize</key>
                <string>{600,800}</string>
                <key>textureRect</key>
                <string>{{0,1600},{600,800}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wait_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,800}</string>
                <key>spriteSourceSize</key>
                <string>{600,800}</string>
                <key>textureRect</key>
                <string>{{600,1600},{600,800}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Resources.png</string>
            <key>size</key>
            <string>{1800,2400}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e48453d9046282b24927e3f1a8856448:b111bc6ef8b28f7d1d2ea349cf507284:470d3338ffa55628397ee9fde2052b84$</string>
            <key>textureFileName</key>
            <string>Resources.png</string>
        </dict>
    </dict>
</plist>
