<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>At_2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,800}</string>
                <key>spriteSourceSize</key>
                <string>{600,800}</string>
                <key>textureRect</key>
                <string>{{0,0},{600,800}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>At_2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,800}</string>
                <key>spriteSourceSize</key>
                <string>{600,800}</string>
                <key>textureRect</key>
                <string>{{600,0},{600,800}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>At_2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,800}</string>
                <key>spriteSourceSize</key>
                <string>{600,800}</string>
                <key>textureRect</key>
                <string>{{1200,0},{600,800}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>At_2_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,800}</string>
                <key>spriteSourceSize</key>
                <string>{600,800}</string>
                <key>textureRect</key>
                <string>{{0,800},{600,800}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>At_2_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,800}</string>
                <key>spriteSourceSize</key>
                <string>{600,800}</string>
                <key>textureRect</key>
                <string>{{600,800},{600,800}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>At_2_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,800}</string>
                <key>spriteSourceSize</key>
                <string>{600,800}</string>
                <key>textureRect</key>
                <string>{{1200,800},{600,800}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Boss_At2.png</string>
            <key>size</key>
            <string>{1800,1600}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c6e56f26530c6350a1743d5dc8158bc2:33061789568381b72a7ab2b146f961e5:00656d2dc90ac7f8afc54572aa3aa2f6$</string>
            <key>textureFileName</key>
            <string>Boss_At2.png</string>
        </dict>
    </dict>
</plist>
