<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Attack_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,800}</string>
                <key>spriteSourceSize</key>
                <string>{600,800}</string>
                <key>textureRect</key>
                <string>{{0,0},{600,800}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,800}</string>
                <key>spriteSourceSize</key>
                <string>{600,800}</string>
                <key>textureRect</key>
                <string>{{600,0},{600,800}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,800}</string>
                <key>spriteSourceSize</key>
                <string>{600,800}</string>
                <key>textureRect</key>
                <string>{{0,800},{600,800}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,800}</string>
                <key>spriteSourceSize</key>
                <string>{600,800}</string>
                <key>textureRect</key>
                <string>{{600,800},{600,800}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Boss_At1.png</string>
            <key>size</key>
            <string>{1200,1600}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3c66327ce81a844c81358bef1ab8d4f6:19dea152d8a1b5c4649c55819c2f149b:b24c655e9ad6a151eacead49186a721d$</string>
            <key>textureFileName</key>
            <string>Boss_At1.png</string>
        </dict>
    </dict>
</plist>
