<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bat_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{200,136}</string>
                <key>spriteSourceSize</key>
                <string>{200,160}</string>
                <key>textureRect</key>
                <string>{{1,1},{200,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bat_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-7}</string>
                <key>spriteSize</key>
                <string>{198,90}</string>
                <key>spriteSourceSize</key>
                <string>{200,160}</string>
                <key>textureRect</key>
                <string>{{1,139},{198,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bat_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-8}</string>
                <key>spriteSize</key>
                <string>{190,98}</string>
                <key>spriteSourceSize</key>
                <string>{200,160}</string>
                <key>textureRect</key>
                <string>{{1,231},{190,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bat_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-5}</string>
                <key>spriteSize</key>
                <string>{182,94}</string>
                <key>spriteSourceSize</key>
                <string>{200,160}</string>
                <key>textureRect</key>
                <string>{{101,231},{182,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bat.png</string>
            <key>size</key>
            <string>{202,422}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:91f594c172d7511555790b4402220e61:74f148090aec3faf3382477433b8e1a2:3808b107ac6b3aadbfb96b33e232a46e$</string>
            <key>textureFileName</key>
            <string>bat.png</string>
        </dict>
    </dict>
</plist>
