<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Spider_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,213}</string>
                <key>spriteSourceSize</key>
                <string>{200,213}</string>
                <key>textureRect</key>
                <string>{{0,0},{200,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Spider_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,213}</string>
                <key>spriteSourceSize</key>
                <string>{200,213}</string>
                <key>textureRect</key>
                <string>{{200,0},{200,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Spider_1.png</string>
            <key>size</key>
            <string>{400,213}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d2d6da7b66f2f713ad3657e6d874d628:30d7b153c93bc2083aefa1493d296577:e1b5e69aa8bfeeecfb2aa88055eceb0f$</string>
            <key>textureFileName</key>
            <string>Spider_1.png</string>
        </dict>
    </dict>
</plist>
