<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Slide_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,445}</string>
                <key>spriteSourceSize</key>
                <string>{191,445}</string>
                <key>textureRect</key>
                <string>{{0,0},{191,445}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Slide_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,445}</string>
                <key>spriteSourceSize</key>
                <string>{191,445}</string>
                <key>textureRect</key>
                <string>{{0,445},{191,445}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Slide_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,445}</string>
                <key>spriteSourceSize</key>
                <string>{191,445}</string>
                <key>textureRect</key>
                <string>{{0,890},{191,445}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Character_Slide_1.png</string>
            <key>size</key>
            <string>{191,1335}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fdc2474dbe7c872f10e0d4216d5e72e0:65fbede9bee5711e6b84541907bb8b5f:6e5b82563bdf09b8db2f800fc7e569eb$</string>
            <key>textureFileName</key>
            <string>Character_Slide_1.png</string>
        </dict>
    </dict>
</plist>
